.app {
  background-color: #222;
  color: white;
}

.inner {
  max-width: 100%;
  width: 1000px;
  padding: 0 20px;
  margin: auto;
}

.header {
  height: 53px;
  background-color: #333;

  a {
    &,
    &:active,
    &:focus {
      color: white;
      text-decoration: none;
    }
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
  }
}

.logo {
  font-size: 18px;
  padding: 0 20px;
}

.left-nav {
  display: flex;
  align-items: center;
}

.right-nav {
  display: flex;
  align-items: center;

  a {
    font-size: 12px;
    padding: 0 10px;
    &:hover {
      color: #999;
    }
  }
}

.main {
  height: calc(100vh - 53px);
  background-image: radial-gradient(farthest-corner circle at top, #2c2c56, transparent);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;

  h2 {
    font-size: 40px;
    margin: 2px 0;
    line-height: 1;
  }

  p {
    color: #aaa;
    font-size: 12px;
  }
}

.btn-download {
  display: block;
  width: 160px;
  color: white;
  background-color: #1a78d1;
  text-decoration: none;
  border-radius: 100px;
  margin: auto;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #444;
  color: #999;
  padding: 6px;
  font-size: 12px;

  .inner {
    text-align: center;
  }
}
